/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start my code */

:root{
    --white: #FEF9EF;
    --blue: #227C9D;
    --brown: #FFE8C2;
    --darkgreen: #0A210F;
}

body{
    background-color: var(--brown);
    overflow-x:hidden;
}

nav{
    width:100vw;
    height:100px;
    background-color: var(--brown);
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    z-index: 9999;
}

.nav__wrapper{
    width:90vw;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav__logo-text{
    color:var(--darkgreen);
    font-family: silkabold;
    letter-spacing: 0.3px;
    font-size:2rem;
}

#nav__linkholder{
    display:flex;
    flex-direction: row;
}

.navlink > a{
    color:var(--darkgreen);
    font-family:silkamedium;
    text-decoration: none;
    margin-right:24px;
    position: relative;
}

.navlink > a:before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--darkgreen);
    visibility: hidden;
    transition: all 0.2s ease-out;
}

.navlink > a:hover:before{
    visibility: visible;
     width: 100%;
}

.container{
    width:100vw;
    display:flex;
    /* align-items: center; */
    justify-content: center;
}


.hero-container{
    /* width:100%; */
    margin-top:100px;
    height:50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-container__callout{
    color: var(--darkgreen);
    text-align: center;
}

h1{
    font-family: silkablack;
    font-size:4rem;
    color: var(--darkgreen);
}

h2{
    font-family: silkabold;
    font-size:3rem;
    color: var(--darkgreen);
}

h3{
    font-family: silkamedium;
    font-size:1.5rem;
    color: var(--darkgreen);
    line-height: 1.8rem;
}

p{
    font-family: silkaregular;
    font-size:1.5rem;
    color: var(--darkgreen);
}

button{
    background-color: rgba(0,0,0,0);
    border: solid;
    border-width: 1px;
    color: var(--darkgreen);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width:300px;

    font-family: silkamedium;
    font-size: 1rem;
    transition: all 0.4s cubic-bezier(0,.45,.52,.8);
}

button:hover{
    background-color: var(--darkgreen);
    color: var(--brown);
    transform: scale(1.1);
}

#hero-container__button{
    margin-top:64px;
}
/* 
#id-feed{
    width:100vw;
    height:100vh;
} */

#ig-feed{
    height:50vh;
}

.testdiv{
    width:500px;
    height:200px;
    background-color: darkgreen;
}

/* matter canvas stuff */
#matterCanvas{
    position:fixed;
    top:0;
    left:0;
    z-index: 99999;
    pointer-events: none;
    width:100vw;
    height: 100vh;
}

.section{
    width:100vw;
    min-height:40vh;
    margin-top:32px;
}

.section__left{
padding:3vw;
}

.section__right{
padding:3vw;
}

#section--daily-intro{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#section--daily-count{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgreen);
}

#section--responses{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#responses__title{
    margin-top: 64px;
}

#daily-intro__header{
    text-align: center;
    max-width: 700px;
}

#daily-intro__desc{
    max-width: 500px;
}

#daily-count-leadin{
    color: var(--brown);    
}

#daily-count{
    margin-top:32px;
    font-size:10rem;
    font-family: silkabold;
    color: var(--brown);
}

#response-img{
    width:100%;
    height:auto;
}

footer{
    margin-top:64px;
    width:100vw;
    min-height:180px;
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text{
    color: var(--white);
    font-size: 1rem;
}

#footer__copyright{
    max-width: 300px;
    text-align: center;
    margin-top:16px;
}

#footer__social-media-container{
    margin-top:32px;
}

.footer__social-media--logo{
width:48px;
height:48px;
}

/*media queries */

@media screen and (max-width: 480px) {
    #nav__logo-text{
        letter-spacing: 0.1px;
        font-size:1.2rem;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.3rem;
    }

    #section--daily-intro{
        flex-direction:column;
    }

    #daily-intro__desc{
        margin-top: 48px;
    }

    #daily-count{
        font-size:6rem;
    }
}