.nav__link{
    position:relative;
}

.nav__link:before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.2s ease-out;
}

.nav__link:hover:before{
    visibility: visible;
     width: 100%;
}

.lottie{
    width: 5vw;
    height: 5vw;
}

#logo{
    width: 5vw;
    height: 5vw;
    pointer-events: auto;
}

#logo:hover{
    opacity: 70%;
    transition:all 0.2s ease-out;
}

#logo--title{
    font-family: silka-bold;
    pointer-events: auto;
}

.nav{
    grid-column-start:1;
    grid-column-end: span 4;
    height: calc(100vh - 144px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items:flex-end;
    position: fixed;
    top: 72px;
    left: 72px;
    z-index: 99;
    pointer-events: none;
}

.nav__linkholder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.nav__link{
    margin-bottom:12px;
    pointer-events: auto;
}